body{

}
#day{
    z-index: 3;
    font-size: 400px;
    text-align: center;
    line-height: 400px;
    height: 400px;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    color: rgba(236,240,241,0.2);
}